asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.5
idna==2.8
pycparser==2.19
pyOpenSSL==19.0.0
requests==2.21.0
simple-salesforce==0.74.2
six==1.12.0
urllib3==1.24.1
